<!DOCTYPE html>
<html>
<div style="background-color:#FFFFFF;">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Sunrise</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li><a href="/contracts">合同</a></li> 
	        <li><a href="/orders">定单</a></li> 
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle mouseover-show" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其它<span class="caret"></span></a>
	          <ul class="dropdown-menu mouseover-dropdown">
	          	<li><a href="/invoices">发票</a></li>
	            <li><a href="/vendors">供应商</a></li>
	            <li><a href="/clients">客户</a></li> 
	          </ul>
	        </li> 
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle mouseover-show2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">新建...<span class="caret"></span></a>
	          <ul class="dropdown-menu mouseover-dropdown2">
	          	<li><a href="/contracts/new">合同</a></li>
	          	<li><a href="/orders/new">定单</a></li>
	          	<li><a href="/invoices/new">发票</a></li>
	            <li><a href="/clients/new">客户</a></li>
	            <li><a href="/vendors/new">供应商</a></li>
	          </ul>
	        </li>	        
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	          <%= link_to "Log out", destroy_user_session_path, :method => :delete%>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</body>
<%= yield %>
</div>
</html>
