
      <div class="panel panel-default", style="margin: 0px auto; max-width: 800px;">
       <div class="panel-heading">New Invoice</div>
       <div class="panel-body">
          <%= form_for @invoice do |f| %>
            <div class="form-group">
              <%= f.text_field :client_id, :placeholder => "Client", class: "form-control" %>
              <%= error_span(@invoice[:client_id]) %>
            </div>
            <div class="form-group">
              <%= f.number_field :invoice_number, :placeholder => "Invoice Number",class: "form-control",
               :id => "datetimepicker"%>
              <%= error_span(@invoice[:invoice_number]) %>
            </div>
            <div class="form-group">
              <%= f.text_field :invoice_date,  :placeholder => "  Invoice Date", class: "form-control datepicker" %>
              <%= error_span(@invoice[:invoice_date]) %>
            </div>
            <div class="form-group">
              <%= f.number_field :total_number, :placeholder => "Total Amount",class: "form-control" %>
              <%= error_span(@invoice[:total_number]) %>
            </div>
            <div style="margin-top: 20px;">
              <%= f.button :submit, :class => 'btn btn-primary' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                            invoices_path, :class => 'btn btn-default' %>
            </div>
         <% end %>

       </div>
        </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker();
      });
    </script>



