<%- model_class = Contract -%>
<div class="index-content">
<div class="index-title">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<div>
  <table class="table table-striped table-hover", style="font-size: 20px; font-family:Arial;margin:0px auto;">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:client_id) %></th>
      <th><%= model_class.human_attribute_name(:sign_date) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr data-link="<%= contract_path(contract) %>">
        <td><%= contract.title %></td>
        <td><%= @clients.find(contract.client_id).name %></td>
        <td><%= contract.sign_date %></td>
        <td><%= contract.amount %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contract_path(contract), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contract_path(contract),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div style="margin-bottom: 10px"></div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contract_path,
            :class => 'btn btn-primary' %>

</div>
