<%- model_class = Contract -%>
<div class="index-content">
  <div class="page-header">
    <h1><%= @contract.title %></h1>
  </div>

<div class="row">
  <div class="col-md-4">
    <div class="list-group" style="max-width:300px;">
      <a class="list-group-item active">
        基本信息
      </a>
      <a href="#" class="list-group-item">合同名称：<%= best_in_place @contract, :title %></a>
      <a class="list-group-item show_client">客户公司：<%= @client.name %></a>
      <div class="hidden-panel">
        <a class="list-group-item">公司地址：<%= @client.address %> </a>
        <a class="list-group-item">公司电话：<%= @client.telephone %> </a>  
        <a class="list-group-item">公司邮箱：<%= @client.email %> </a>  
      </div>
      <a href="#" class="list-group-item">签约日期：<%= @contract.sign_date %></a>
      <a href="#" class="list-group-item">订单成本￥：<%= @contract_amount %></a>
      <a href="#" class="list-group-item">其它成本￥：<%= best_in_place @contract, :cost %> </a>
      <a href="#" class="list-group-item edit">合同金额￥：<%= best_in_place @contract, :amount %></a>
    </div>
  </div>

  <div class="col-md-4">

  </div>

  <div class="col-md-4">

  </div>

</div>

  <% @orders.each do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= f.order_id %>
      </div>
      <div class="panel-body">
        <%= f.order_id %> </br>
        <%= f.content %> </br>
        <%= @vendors.find(f.vendor_id).name %> </br>
        <a> 订单总价：<%= f.unit_price*f.unit_count %> </a>
      </div>
    </div>
  <% end %>

  <%= link_to "返回合同列表", contracts_path, :class=> "button btn btn-default" %>
  <%= link_to "编辑合同信息", edit_contract_path(@contract), :class=> "button btn btn-default" %>
  <%= link_to t('.destroy', :default => t("删除合同")),
                contract_path(@contract),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <%= link_to "添加一张订单", new_order_path(:contract_id => @contract.id), :class => "button btn btn-primary"  %><br />
</div>

<script>
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

